---
import Cta from "../components/ro/cta.astro";
import Faq2 from "../components/ro/faq2.astro";
import Footer from "../components/ro/footer.astro";
import Gallery from "../components/gallery.astro";
import Hero from "../components/ro/hero.astro";
import Navbar from "../components/ro/navbar.astro";
import Process from "../components/ro/process.astro";
import Whyus from "../components/ro/whyus.astro";
import Works from "../components/ro/works.astro";
---

<html lang="ro" class="scroll-smooth ease-in-out">
	<head>
		<meta charset="utf-8" />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/favicon.png" />
	
		<!-- Setări viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<!-- Titlul paginii -->
		<title>Designuri de site-uri web pentru restaurante Shaorma</title>
	
		<!-- Descriere -->
		<meta name="description" content="Designuri premium de site-uri web pentru restaurante shaorma. Obțineți un site de vânzări personalizat gata în 10 zile sau mai puțin." />
	
		<!-- Cuvinte cheie -->
		<meta name="keywords" content="shaorma, site web restaurant, design site web premium, site web personalizat, site de vânzări" />
	
		<!-- Autor -->
		<meta name="author" content="mrozyyev" />
	
		<!-- Roboți -->
		<meta name="robots" content="index, follow" />
	
		<!-- Open Graph Meta Tags pentru rețele sociale -->
		<meta property="og:title" content="Designuri de site-uri web pentru restaurante Shaorma" />
		<meta property="og:description" content="Designuri premium de site-uri web pentru restaurante shaorma. Obțineți un site de vânzări personalizat gata în 10 zile sau mai puțin." />
		<meta property="og:image" content="/preview.webp" />
		<meta property="og:url" content="https://www.shaorma.best" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="shaorma.best" />
	
		<!-- Meta Tags Suplimentare -->
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href="https://www.shaorma.best" />
	
		<!-- Open Graph Meta Tags pentru Localizare -->
		<meta property="og:locale" content="ro_RO" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
		></script>
		</head
		>
		
		<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<Navbar />
	<body class="bg-[#FFF5E1]">
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
			<div class="mx-auto max-w-3xl">
				<Hero />
				<Gallery />
				<Process />
				<Whyus/>
				<Works />
				<Cta />
				<!-- <Faq /> -->
				<Faq2/>
			</div>
		</div>
	</body>
<Footer/>
</html>
