---
import Cta from "../components/cta.astro";
import Faq from "../components/faq.astro";
import Faq2 from "../components/faq2.astro";
import Footer from "../components/footer.astro";
import Gallery from "../components/gallery.astro";
import Hero from "../components/hero.astro";
import Navbar from "../components/navbar.astro";
import Process from "../components/process.astro";
import Whyus from "../components/whyus.astro";
import Works from "../components/works.astro";
---

<html lang="en" class="scroll-smooth ease-in-out">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Best shaorma restaurant website designs</title>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
		></script>
		</head
		>
		
		<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<Navbar />
	<body class="bg-[#FFF5E1]">
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
			<div class="mx-auto max-w-3xl">
				<Hero />
				<Gallery />
				<Process />
				<Whyus/>
				<Works />
				<Cta />
				<!-- <Faq /> -->
				<Faq2/>
			</div>
		</div>
	</body>
<Footer/>
</html>
