---
const accordionItems = [
    {
        question: "How much do websites cost?",
        answer: "Websites can vary in price based on a multitude of factors.\n\nHowever, with our proprietary plug-and-play system, we can create a high-performing sales website for your restaurant/shaormaria for a fraction of the cost of our competitors.\n\nWith all that said, our average site price is $300 with no additional hidden fees.",
    },
    {
        question: "Are there any additional fees?",
        answer: "Once the site is finished, there are no additional fees that will be charged to you by shaorma.best.\n\nHowever, there is one fee that is necessary for ALL websites and that is your monthly site hosting. This is paid to the hosting company and usually ends up being $5-10/mo.",
    },
    {
        question: "What if I don't like my site?",
        answer: "Our #1 goal is to create a website that brings in new customers for your business, but we also want to make sure that you LOVE your site.\n\nFor this reason, we have a revision process which will allow you to provide feedback on our work to ensure you like the final result.\n\nEach site comes with a 100% satisfaction guarantee! If you don't like the design, we will keep working on it until you do.",
    },
    {
        question: "Do you help with marketing too?",
        answer: "Absolutely, we also offer SEO services, Analytical services and Google Ads services.\n\nMake sure to ask us about these extras when you book your intro call.",
    },
    {
        question: "How does payment work?",
        answer: "50% payment is required before the project begins, 25% is due once the designs are finalized and the final 25% is due once development is finalized and the site has been approved by you.\n\nWe accept a variety of payment options including credit card, PayPal and wire transfers.",
    },
];
---

<div id="faq" class="pb-16 pt-20 text-center lg:pt-32 w-full">
    <h1
        class="mx-auto max-w-4xl font-display text-5xl font-bold tracking-tight text-slate-900 sm:text-7xl"
    >
        Answers to your
        <span class="relative whitespace-nowrap text-[#ffd700]">
            <span class="relative"> questions </span>
        </span>
    </h1>
    <div class="pt-8" id="accordion-collapse" data-accordion="collapse">
        {
            accordionItems.map((item, index) => (
                <div >
                    <h2 id={`accordion-collapse-heading-${index + 1}`}>
                        <button
                            type="button"
                            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-700 border border-b-0 border-yellow-200 focus:ring-4 focus:ring-yellow-200 hover:bg-gray-50 active:bg-yellow-400 hover:text-black gap-3 aria-expanded:bg-yellow-300 aria-expanded:text-black"
                            data-accordion-target={`#accordion-collapse-body-${index + 1}`}
                            aria-expanded="false"
                            aria-controls={`accordion-collapse-body-${index + 1}`}
                        >
                            <span>{item.question}</span>
                            <svg
                                data-accordion-icon
                                class="w-3 h-3 rotate-180 shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 10 6"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5 5 1 1 5"
                                />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id={`accordion-collapse-body-${index + 1}`}
                        class="hidden"
                        aria-labelledby={`accordion-collapse-heading-${index + 1}`}
                    >
                        <div class="p-5 border border-b-0 border-yellow-200 bg-yellow-200">
                            <p class="text-black ">{item.answer}</p>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</div>
